<!DOCTYPE html>
<html>
    <head>
        <title>Ошибка <!--ERRORCODE--></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Ubuntu+Condensed&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link href="styles.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="favicon.ico" />
    </head>
    <body>
        <div class="wrapper"  style="text-align: center;">
            <div style="font-size: 24vw; text-align: center; font-family: 'Ubuntu Condensed', serif; color: #274472;">
                404 :(
            </div>
    <form action="#">
                    <p>Порыться с пристрастием: </p>
                    <input type="search" name="q" id="query" placeholder ="слова сюда" />
                    <button><i class="fa fa-search"></i></button>             
                </form>

            <p style="text-align: center;">&#127279;&nbsp;2022,&nbsp;<a href="#" title="home">UMAPALATA</a> &middot; <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="">CC BY-SA</a></p>
        </div>
    </body>
</html>
