<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>__TITLE__</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="/layouts/styles.css" rel="stylesheet" type="text/css" />
        
        <meta name="keywords" content="__KEYWORDS__" />
        <meta name="description" content="__DESCRIPTION__" />
        <!-- all fonts should be downloaded -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="icon" href="/favicon.svg" />
        
    </head>
    <body>
    <div class="wrapper">
            <header>
                <div><a href="/"><img src="/layouts/images/umapalata.svg" width="500" height="280"  alt="text" id="logo"/></a></div>
                <form action="/search.php">
                    <p class="devise">Фундаментальная коллекция <br /><span>трансцендентных идей и концепций</span></p>
                    <input type="search" name="q" id="query" placeholder ="слова" />
                    <button><i class="fa fa-search"></i></button>             
                </form>
            </header>

        <!-- begin content -->