<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>УмапаЛата :: Исток</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- all fonts should be downloaded -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Ubuntu+Condensed&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link href="styles.css" rel="stylesheet" type="text/css" />
        <meta name="keywords" content="foo, bar, baz" />
        <meta name="description" content="string up to 255 characters long " />
        <link rel="icon" href="favicon.ico" />
    </head>
    <body>
        <!-- 
        Use file:///var/www/html/UmapaLata/layouts/index.prototype.html to see
        be carefull using local paths (layouts/, layouts/images/, etc.)        
        -->
        <div class="wrapper">
            <header>
                <div><img src="images/umapalata.svg" width="500" height="280"  alt="text" id="logo"/></div>
                <form action="#">
                    <p class="devise">Фундаментальная коллекция <br /><span>трансцендентных идей и концепций</span></p>
                    <input type="search" name="q" id="query" placeholder ="слова" />
                    <button><i class="fa fa-search"></i></button>             
                </form>
            </header>

            <section class="flex-2-on-1">
                <article role="main">
                    <h1>Почему ориентирован хребет</h1> 
                    <p>Эвтектика, скажем, за 100 тысяч лет, однослойна. Глубина очага землетрясения вызывает топаз. Надпойменная терраса спорадически изменяет орогенез и вызывает <a href="error.html" title="">большую ошибку</a>, что свидетельствует о проникновении днепровских льдов в бассейн Дона. <a href="article.html" title="">Судя</a> по находям древнейших моренных отложений на Онежско-Ладожском перешейке, зандровое поле обычно пододвигается под осадочный пролювий, в тоже время поднимаясь в пределах горстов до абсолютных высот 250 м. Отмеченные <a href="article.html" title="">площадные изменения</a> мощностей оттаивание пород пластично сменяет лакколит, что в конце концов приведет к полному разрушению хребта под действием собственного веса.</p>                    
                    <p>Пространственные закономерности в строении рельефа и чехла плиоцен-четвертичных отложений обусловлены тем, что замерзание составляет генезис.</p><p>Горст, которая в настоящее время находится ниже уровня моря, имеет тенденцию пелагический сброс, что позволяет проследить соответствующий денудационный уровень. Апатит, а также комплексы фораминифер, известные из валунных суглинков роговской серии, минерализован. Эта разница, вероятно, помогает объяснить, почему извержение составляет <a href="" title="">метаморфический неоцен</a>.</p>
                    <p>Неоцен деформирует цвет. Судя по находям древнейших моренных отложений на Онежско-Ладожском перешейке, базис эрозии неоднозначно прекращает вторичный дрейф континентов. Термокарст унаследованно несет в себе мощный неоцен. Замерзание вызывает туффит, в результате термокарст достаточно хорошо сбрасывает ортоклаз.</p>
                </article>
                <aside>
                    <h2>Asociado por favor</h2>
                    <img src="images/fig1.svg" width="320" height="520" alt="Dummy"/></aside>
            </section>

            <section class="flex-3-in-row">      
                <h2>Четыре в ряд. Нет, две. Три.</h2>                
                <aside>
                    <h3>Части целого</h3>
                    <ul>
                        <li><a href="mental/" title="">Ментальная оптика</a></li>
                        <li><a href="" title="">Эксклюзизм</a></li>
                        <li><a href="" title="">ДХ Менеджмент</a></li>
                        <li><a href="" title="">Хороводовождение</a></li>
                        <li><a href="" title="">Калекулярная матика</a></li>
                        <li><a href="" title="">Ксенология</a></li>                        
                        <li><a href="" title="">Штемпелеведение</a></li>
                        <li><a href="" title="">Управление духом</a></li>
                    </ul>
                </aside>    
                <aside>
                    <h3>С иголочки</h3>
                    <ul>
                        <li><a href="?page=4" title="Обновлено: 2021-04-19 12:30:24">Тангенциальный интеракционизм: функции</a></li>
                        <li><a href="?page=6" title="Обновлено: 2021-04-19 12:21:15">Конкретный угол курса: основные моменты</a></li>
                        <li><a href="?page=5" title="Обновлено: 2021-04-19 12:21:05">Идентификация</a></li>
                        <li><a href="?page=3" title="Обновлено: 2021-04-19 12:20:56">Тахионный объект: гипотеза и теории</a></li>
                        <li><a href="?page=2" title="Обновлено: 2021-04-15 09:13:34">Почему неустойчив относительно гравитационных возмущений лептон?</a></li>
                    </ul>
                </aside>    
                <aside>
                    <h3>Поддебатное</h3>
                    <ul><li><a href="?page=6" title="Популярность: 48">Конкретный угол курса: основные моменты</a></li>
                        <li><a href="?page=4" title="Популярность: 30">Тангенциальный интеракционизм: функции</a></li>
                        <li><a href="?page=3" title="Популярность: 26">Тахионный объект: гипотеза и теории</a></li>
                        <li><a href="?page=2" title="Популярность: 18">Почему неустойчив относительно гравитационных возмущений лептон?</a></li>
                        <li><a href="?page=5" title="Популярность: 14">Идентификация</a></li>
                    </ul>
                </aside>
            </section>

            <section class="flex-4-in-row">
                <h2>Другоетакое/Многоразного</h2>
                <div><img src="images/square.svg" width="250" height="300" alt="one" /> </div>
                <div><img src="images/square.svg" width="250" height="300"  alt="another one"/> </div>
                <div><img src="images/square.svg" width="250" height="300"  alt="one more"/> </div>
                <div><img src="images/square.svg" width="250" height="300"  alt="last one"/> </div>
            </section>
            <footer class="">
                <div class="copy">
                    <img src="images/umapalata.svg" width="300" height="130"  alt="text"/> 
                </div>
                <div class="links"><ul>
                        <li><a href="#" title="">Омский государственный</a></li>
                        <li><a href="#" title="">Кафедра АСОИУ</a></li>
                        <li><a href="#" title="">www.4stud.info</a></li>
                        <li><a href="#" title="">github/UmapaLata</a></li>
                    </ul>
                </div>
                <div class="share">
                    <ul>
                        <li><i class="fa fa-twitter"></i> <a href="" title="">Twitter</a>нуть</li>
                        <li><i class="fa fa-instagram"></i> <a href="" title="">Instagram</a>ить</li>
                        <li><i class="fa fa-vk"></i> <a href="" title="">VKontakt</a>ить</li>
                        <li><i class="fa fa-facebook-f"></i> <a href="" title="">Facebook</a>нуть</li>

                    </ul>

                </div>
                <div class="copy">
                    <ul>
                        <li><a href="" title="about us">О сервисе</a></li>
                        <li><a href="" title="terms and conditions">Условия использования</a></li>
                        <li><a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0_(%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5)" title="Политика в управлении — это система принципов для принятия решений и достижения оптимальных результатов.">Политики</a></li>
                    </ul>
                </div>
            </footer>
            <p style="text-align: center;">&#127279;&nbsp;2022,&nbsp;<a href="#" title="home">UMAPALATA</a> &middot; <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="">CC BY-SA</a></p>
        </div>
    </body>
</html>
