<div class = "flex-2-on-1" >
    <section>
        <p class="crumbs"><a href="/">Истоки</a> // Результаты поиска</p> 
        <h1>__QUERY__</h1>
        <nav class="pagination" >
        __PAGINATION__
        </nav>
        <section role="main" >
        <!-- comment 
        <p>To do: ajax to partitional loading page by page</p>
        <li><a href="" title="">https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started</a></li>
        <li><a href="" title="">https://webdesign.tutsplus.com/ru/tutorials/an-example-of-ajax-with-vanilla-javascript--cms-25763</a></li>
        -->
        __CONTENT__
        </section>    
        <nav class="pagination" >
        __PAGINATION__
        </nav>
    </section>
    <aside style="background-color: #5885af !important;" class="ads">
        <h3>Любимая реклама</h3>
        <!-- ADS (banners/tizers/text blocks) rotator -->
        <div style="position: relative;">
            <img src="/ads/cat1.gif" alt="Fanny cat" width="200" height="120" />
            <div style="position: absolute; right: 0; bottom: 50px; font: bold 3rem sans-serif; color: yellow;">Мне надо!</div>
        </div>
        <div style="position: relative;">
            <img src="/ads/cat2.gif" alt="Fanny cat" width="200" height="120" />
            <div style="position: absolute; right: 0; bottom: 50px; font: bold 3rem sans-serif; color: red;">Купить кота</div>
        </div>
        <div style="position: relative;">
            <img src="/ads/cat3.gif" alt="Fanny cat" width="200" height="120" />
            <div style="position: absolute; right: 0; bottom: 50px; font: bold 3rem sans-serif; color: yellow;">Коты оптом<br>скидка 20%</div>
        </div>
    </aside>
</div>

